/* Estilização do HEADER */

.landing-header {
  position: fixed;
  top: 30px;
  left: 50px;
  right: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 25px 50px;
  border-radius:  40px 40px 40px;
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 40%;
}

.header-left h1 {
  font-size: 1.8rem;
  margin: 0;
}

.header-center {
  display: flex;
  gap: 80px;
}

.header-center a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.header-center a:hover {
  text-decoration: underline;
}

.header-right .login-button {
  background-color: #26CC6B;
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  font-size: 1.2em;
}

.header-right .login-button:hover {
  background-color: #1b8e4b;
}


/* Conteúdo principal da página */
.landing-content {
  text-align: center;
  padding: 40px;
  margin-top: 140px; /* empurra conteúdo abaixo do header fixo */
}



/* Estilo das seções clicáveis */

.section {
  padding: 100px 80px;
  text-align: center;
  background-color: #f7f7f7;
  margin: 40px 60px;
  border-radius: 20px;
}

.section:nth-of-type(even) {
  background-color: #e6f2ff;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section p {
  font-size: 1.1rem;
  color: #333;
}


/* Footer estilizado */

.landing-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 80px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
